includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-mockery/extension.neon

parameters:

    paths:
        - app/
        - database/
        - tests/

    # Level 9 is the highest level
    level: 5

    ignoreErrors:
        - '#Constant L5_SWAGGER_CONST_HOST not found.#'
        - '#Call to an undefined method Spatie\\Image\\Drivers\\ImageDriver::nonQueued\(\).#'
        - '#Call to an undefined method Pest\\PendingCalls\\TestCall::[a-zA-Z]+\(\).#'
        - '#expects callable\(Illuminate\\Database\\Eloquent\\Model, (int|int\|string)\): .*, Closure\(App\\Infrastructure\\Persistence\\Eloquent\\Category\): .* given.#'
        -
            message: '#Access to an undefined property Illuminate\\Database\\Eloquent\\Model::\$(id|depth|name).#'
            path: app/Filament/Forms/Components/CategorySelect.php
